Pyrogram==2.0.106
TgCrypto==1.2.5
py-tgcalls==2.2.8
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
aiofiles
youtube_search
search_engine_parser
Pillow
python-arq
future
psutil
wget
tswift
lxml==4.9.4
